# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 확장자 차단 (솔루션 파일 및 스왑 파일)
*.sln
*.sw?

# 특정 파일 차단
taxi-origin.html
taxi-origin-css.css
